body{
    font-family: 'Rubik', 'Arial Narrow', Arial, sans-serif;

}
#home{
    margin-left: 50px;
    float: left;
    font-size: 60px;
    margin-top: 40px;
    
    color: rgb(168, 125, 50);
}
#choice{
    text-decoration: dashed;
    float: left;
    margin:40% 5% 0 5%;
}

#menu li{
    font-size: 150%;
    float: right;
    list-style-type:none;
    margin-top: 40px;
    margin-left: 20px;
}

#menu a{
    text-decoration: none;
}

#menu, #choice, #home{
    line-height: 75px;
   
    border: none;
}
#image-outer{
    height: 20%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#main-image{
    float: right;
    height: 400px;

    width: 100%;
    overflow: visible;
    position: relative;
}
#head-text-shape{
    
    width: relative;
    height: relative;
    -webkit-text-stroke: 1px #000000;
    
    bottom: 5%;
    right: 10%;
    top: 5%;
    position: absolute;
    overflow: inherit;
    
    
    background-color: rgba(245, 232, 206, .6);
}
div > h2{
    letter-spacing: 2px;
    
    font-size: 35px;
    color: rgb(168, 125, 50);

}
#sign-up{
    height: 800px;
}
#volunteer{
    height: 800px;
}
#contact{
    height: 800px;
}
#what-we-do{
    height: 300px;
    text-align: center;
    width: 100%;
}

#what-group{
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 30px;
    width: 33%;
    float: left;
}

.what-group-heading{
    width: 100%;
    line-height: 30px;
}

#what-guide{
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.what-guide-heading{
    width: 100%;
    line-height: 30px;
}

#what-material{
    float: right;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 30px;
    width: 33%;  
}

.what-material-heading{
    
    width: 100%;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}