#home{
    margin-left: 50px;
    float: left;
}
#choice{
    font-size: 150%;
    
}
#menu{
    font-size: 150%;
}
#menu li{

    float: right;
    list-style-type:none;
    margin-right: 10px;
}
#choice li{
    margin-left: 50px;
    float: left;
    list-style-type: none;
}
#menu a{
    text-decoration: none;
}
#choice a{
    text-decoration: none;
}
#menu, #choice, #home{
    line-height: 75px;
    margin: 0;
    padding: 0;
    border: none;
}
