body{
    font-family: 'Rubik', 'Arial Narrow', Arial, sans-serif;

}
p{
    font-weight: bold;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 45px;
}
#home{
    margin-left: 50px;
    float: left;
    font-size: 60px;
    margin-top: 40px;
    
    color: rgb(168, 125, 50);
}
.choice{
    text-decoration: dashed;
    float: left;
    margin:40% 5% 0 5%;
}

.active{
    border-bottom: 1px solid black;
}

#menu li{
    font-size: 150%;
    float: right;
    list-style-type:none;
    margin-top: 40px;
    margin-left: 20px;
}
#menu a:hover {
    border-bottom: 1px solid black;
}

#home:hover {
    border-bottom: 1px solid  rgb(168, 125, 50);
}

#menu a{
    text-decoration: none;
}

#menu, #choice, #home{
    line-height: 75px;
   
    border: none;
}

/**************************************** Title Image ********************************************/
#image-outer{
    height: 20%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#main-image{
    float: right;
    height: 400px;

    width: 100%;
    overflow: visible;
    position: relative;
}
#head-text-shape{
    
    width: relative;
    height: relative;
    -webkit-text-stroke: 0.5px #000000;
    padding: 0 50px 0 50px;
    bottom: 5%;
    right: 10%;
    top: 5%;
    position: absolute;
    overflow: inherit;
    
    
    background-color: rgba(245, 232, 206, .6);
}
div > h2{
    letter-spacing: 2px;
    
    font-size: 50px;
    color: rgb(168, 125, 50);

}

/**************************************** Free ********************************************/
#free-solo{
    display: block;
    overflow: auto;
    min-height: 250px;
    background-color: rgb(245, 232, 206);
    margin: auto;
}


#free-solo > p{
    font-size: larger;
    width: 50%;
    float: right;
    text-align: center; 
    margin: 50px 0 50px 0;
    height: inherit;
}
/**************************************** What we do ********************************************/
#what-we-do{
    display: block;
    overflow: auto;
    padding-top: 40px;
    min-height: 300px;
    text-align: center;
    width: 100%;
    background-color: #feebca;
}


#what-we-do > div{
    display: inline-block;
}
#what-group{
    text-align: center;
    border: 0px solid black;
    border-radius: 20px;
    padding-top: 30px;
    min-width: 300px;
    max-width: 30%;
    float: left;
}

.what-group-heading{
    width: 90%;
    line-height: 30px;
}

#what-guide{
    text-align: center;
    border: 0px solid black;
    border-radius: 20px;
    padding-top: 30px;
    min-width: 300px;
    max-width: 30%;
   
    margin: 0 auto;
}

.what-guide-heading{
    width: 90%;
    line-height: 30px;
}

#what-material{
    float: right;
    text-align: center;
    border: 0px solid black;
    border-radius: 20px;
    padding-top: 30px;
    min-width: 300px;
    max-width: 30%;
}

.what-material-heading{
    
    width: 90%;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

/**************************************** Get in touch ********************************************/
#contact{
    font-weight: bold;
    display: block;
    overflow: auto;
    min-height: 300px;
    font-size: larger;
    width: 100%;
    background-color: #feebca;  
}



/**************************************** Sign up ********************************************/


#signup{
    min-height: 350px;
    background-color: rgb(245, 232, 206);
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    overflow: auto;
}

#signup > div{
    display: inline-block;
}

#checkbox{
    
    display: inline;
}

form > fieldset{
    background-color: #feebca;
   
}

#button{
    font-size: 20px;
    font-style: italic;
}


/*----------------------------------------- Solo/Group Pages ---------------------------------------*/
#tab-main-image{
    float: left;
    height: 700px;
    width: 50%;  
}
#tab-head-text-shape{
    float: right;
    overflow-wrap: normal;
    width: 40%;
    height: inherit;
    font-size: x-large;
    bottom: 40%;
    top: 40%;
    overflow: inherit;
    padding:0 50px 0 50px;
    
    
    background-color: rgba(245, 232, 206, .6);
}
#tab-image-outer{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}


/****************************************Footer********************************************/
.social-networks{
    text-align: center;
}
.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 106%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}